<h1>遊び方</h1>
<h1>ルール</h1>
<h2>制限時間内にハンター文字を読んでタイピング！</h2>
<%=link_to("https://half-a.net/sozai-page4") do %>
  <button class="btn btn-secondary btn-lg" >ハンター文字お借りしました(外部サイトが開きます)</button>
<%end%>
<h1>練習モード</h1>
<h2>ふりがな/ローマ字表示でハンター文字を覚えながらタイピング練習をしよう！</h2>
<h1>ランキングモード</h1>
<h2>ハンター文字のみのモード！ランキング上位を目指してハイスコアを記録しよう！</h2>
