<div class="explanation_box">
  <center>
    <div class="point_box">
      <span class="point-title">ルール</span>
      <p>制限時間内にハンター文字を読んでタイピング！
      <%=link_to("https://half-a.net/sozai-page4") do %>
        <button class="explanation_btn btn-secondary btn-lg" >ハンター文字お借りしました(外部サイトが開きます)</button>
      <%end%>
      </p>
    </div>
    <div class="point_box">
      <span class="point-title">ノーマルモード</span>
      <p>ふりがな/ローマ字表示でハンター文字を覚えながら</br>タイピング練習をしよう！</p>
    </div>
    <div class="point_box">
      <span class="point-title">ランキングモード</span>
      <p>ハンター文字のみのモード！</br>ランキング上位を目指してハイスコアを記録しよう！</p>
    </div>
    <div class="point_box">
      <span class="point-title">連打ボーナス</span>
      <p>正しい入力を続ければメーターが貯まり</br>一定数続けられると残り秒数が増える！</p>
    </div>
    <%=link_to(root_path) do %>
      <button class="explanation_btn" >タイトルに戻る</button>
    <%end%>
  </center>
</div>
