<h1>home ハンタータイピング</h1>

<%=link_to(mode_path) do %>
  <button class="btn btn-secondary btn-lg" >プレイ</button>
<%end%>

<%=link_to(explanation_path) do %>
  <button class="btn btn-secondary btn-lg" >遊び方</button>
<%end%>

<%=link_to(setting_path) do %>
  <button class="btn btn-secondary btn-lg" >設定</button>
<%end%>

<%= link_to 'Twitter', "http://twitter.com/share?url=#{"https://translate.google.com/?hl=ja&tab=TT"}/&text=ハンター打でハンター文字を覚えよう！&hashtags=ハンター打", title: 'Twitter', target: '_blank' %>
<div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://translate.google.com/?hl=ja&tab=TT" data-color="default" data-size="small" data-count="true" data-ver="3" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
