<h1>home ハンタータイピング</h1>

<%=link_to(mode_path) do %>
  <button class="btn btn-secondary btn-lg" >プレイ</button>
<%end%>

<%=link_to(explanation_path) do %>
  <button class="btn btn-secondary btn-lg" >遊び方</button>
<%end%>

<%=link_to(setting_path) do %>
  <button class="btn btn-secondary btn-lg" >設定</button>
<%end%>
