<html>
	<head>
  <script>
  let question = ["muzui"];
  let jan_question = ["むずい"];
  </script>
	<%= javascript_include_tag "nomal_play.js" %>
	</head>
	<body>
		<center>
    <h1>nomal_hard</h1>
		<h1>残り時間<output></output>秒</h1>
		<h1 id="rome" class="text">何かキーを押して下さい</h1>
		<h2 id="jan" class="text">にほんご</h2>
		<p class="hunter text">はんたーもじ</p>
		<h1>score: <span id= "totalScore">0</span></h1>
		<input type="button" value="日本語表示" onclick="janSwitching()">
		<input type="button" value="ローマ字表示" onclick="romeSwitching()">
		</center>
	</body>
</html>
