<html>
<head>
<script>
window.addEventListener("keydown", push_Keydown);
function push_Keydown(event){
	let keyCode = event.key;

document.getElementById("start").innerHTML = keyCode + "を押しました";
}
</script>
</head>
<body>
<h1 id="start">キーを押してごらんよ</h1>
</body>
</html>