<script>
  var level = 1;
</script>
<%= javascript_include_tag "nomal_play.js" %>
<div class="mode_box">
  <center>
    <div class="game_info">
      <h1 class="mode_title">ランキングモード:easy</h1>
      <h1 class="time">残り時間<output></output>秒</h1>
    </div>
    <div class="game_box">
      <h2 class="kana_q hidden" id="kana">にほんご</h2>
      <h1 class="hunter hunt_q">はんたーもじ</p>
      <h1 class = "rome_q hidden" id="rome" >スペースを押して始める</h1>
      <h1 class="game_score">score: <span id= "totalScore">0</span></h1>
      <div class="prog-bar">
        <progress class ="pg_bar" id="bar" max="6" min="0" value="0" onkeydown=get_prog()></progress>
      </div>
    </div>
    <input type="button" value="日本語表示" onclick="janSwitching()">
    <input type="button" value="ローマ字表示" onclick="romeSwitching()">
    <%=link_to(setting_path) do %>
      <button class="btn btn-secondary btn-lg" >設定</button>
    <%end%>
    <%=link_to(root_path) do %>
      <button class="btn btn-secondary btn-lg" >タイトルに戻る</button>
    <%end%>
  </center>
</div>
